<h1>Log in</h1>

<%= semantic_form_for 'session', :url => login_path do |f| %>
	<%= f.inputs do %>
		<%= f.input :password, :input_html => { :name => "password" } %>
	<% end %>

	<%= f.buttons do %>
		<%= f.submit "Log in" %>
	<% end %>
<% end %>
