<section>
  <header>
		<img src="http://gravatar.com/avatar/<%= Digest::MD5.hexdigest(comment.email.downcase) %>.png?s=48" width="48" height="48" alt="<%= comment.name %>" />
    <span><%= comment.url.blank? ? comment.name : link_to(comment.name, comment.url) %> commented</span><br />
    <time pubdate datetime="<%= comment.created_at.strftime("%Y-%m-%d") %>"><%= comment.created_at.strftime("%B %d, %Y") %></time>
		<div class="clear"></div>
  </header>
  <section>
    <%= format_comment(comment.comment) %>
  </section>
</section>
