= semantic_form_for [@post, @comment || Comment.new] do |f|
  = f.inputs do
    - unless admin?
      = f.input :name
      = f.input :email, hint: "Your email address is only used for Gravatar. It will never be published, sold, or traded, and you will never receive unsolicited email."
      = f.input :url, label: "URL"
    = f.input :comment
  = f.actions do
    %li#comment_preview_action.action.input_action
      = f.button "Preview comment", name: "preview", id: "preview-comment", type: nil
    = f.action :submit, label: "Add comment"

#comment-preview-frame.hidden
  %h2 Comment Preview
  .preview-content
