!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', http_equiv: 'X-UA-Compatible' }
    %title
      = "#{current_page.data.title} | " if current_page.data.title
      Jimmy Cuadra
    = stylesheet_link_tag "application"
    %link{ rel: "alternate", type: "application/rss+xml", title: "RSS", href: "http://feeds.feedburner.com/jimmycuadra" }
  %body
    = partial "site_header"
    .content
      .bucket
        = yield
    = partial "site_footer"
    = javascript_include_tag "application"
