<header class="site-header">
  <div class="bucket">
    <a href="/" title="Jimmy Cuadra" class="title-link">
      <hgroup>
        <h1 class="main-title">I'm <span>Jimmy Cuadra</span>.</h1>
        I write about <span>web development</span>, <span>programming</span> and <span>open source software</span>.
      </hgroup>
    </a>
  </div>
</header>

<nav>
  <div class="bucket">
    <ul>
      <li><%= nav_for "Writing", root_path %></li>
      <li><%= nav_for "by tags", tags_path, true %></li>
      <li><%= nav_for "About", about_path %></li>
      <li><%= nav_for "Projects", projects_path %></li>
      <% if admin? %>
        <li><%= nav_for "[ New post ]", new_post_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
