<article>
  <h1><%= link_to_unless_current post.title, post %></h1>
  <time pubdate datetime="<%= post.created_at.strftime("%Y-%m-%d") %>"><%= post.created_at.strftime("%B %d, %Y") %></time>

  <% if !post.youtube_id.blank? && params[:action] == "show" %>
    <object width="640" height="385">
      <param name="movie" value="http://www.youtube.com/v/<%= post.youtube_id %>?fs=1&amp;hl=en_US&amp;rel=0"></param>
      <param name="allowFullScreen" value="true"></param>
      <param name="allowscriptaccess" value="always"></param>
      <embed src="http://www.youtube.com/v/<%= post.youtube_id %>?fs=1&amp;hl=en_US&amp;rel=0?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed>
    </object>
  <% elsif !post.youtube_id.blank? %>
    <p><%= link_to "Watch the screencast", post %></p>
  <% end %>

  <%= markdown(post.body) %>

  <footer>
		<% unless params[:action] == "show" %>
			<p><%= link_to "#{pluralize(post.comments.count, 'comment')}", post %></p>
		<% end %>

    <% unless post.tags.empty? %>
      <p>This post was tagged with <%= post.tags.map { |tag| link_to tag.name, tag_path(tag) }.to_sentence.html_safe %>.</p>
    <% end %>

    <p>Find more content by <a href="/tags">browsing by tag</a>.</p>
  </footer>
</article>
