%header.site-header
  .bucket
    %a.title-link{ href: "/", title: "Jimmy Cuadra" }
      = image_tag "logo.png", width: "75", height: "75", alt: "Jimmy Cuadra", class: "logo"
      %hgroup
        %h1.main-title I'm Jimmy Cuadra.
        %p I write about programming and open source software.
      .clear

%nav
  .bucket
    %a.pull-right{ href: "http://coderwall.com/jimmycuadra", target: "_blank" }
      %img{ src: "http://api.coderwall.com/jimmycuadra/endorsecount.png", width: "110", height: "20" }
    %ul
      %li= nav_for "Writing", root_path, title: "Writing"
      %li= nav_for "by tags", tags_path, class: "sub-nav", title: "Writing by tags"
      %li= nav_for "Résumé", resume_path, title: "Jimmy Cuadra's Résumé"
      %li= nav_for "Projects", projects_path, title: "Projects"
      - if admin?
        %li= nav_for "[ New post ]", new_post_path, title: "Create a new post"
