<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title} | " if @page_title.present? %>Jimmy Cuadra</title>
  <meta name="description" content="Jimmy Cuadra on web development with Ruby, JavaScript, HTML, and CSS." />
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/jimmycuadra" />
  <% if Rails.env.production? %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5500916-1']);
    _gaq.push(['_trackPageview']);
    (function(d, t) {
      var e = d.createElement(t), s = d.getElementsByTagName(t)[0];
      e.type = 'text/javascript'; e.async = true; e.src = 'http://www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(e, s);
    })(document, 'script');
    </script>
  <% end %>
</head>
<body>
  <header id="site-header">
    <nav>
      <ul>
        <%= nav_to "Blog", root_path, "posts" %>
        <%= nav_to "Projects", projects_path, "projects" %>
        <%= nav_to "About", about_path, "about" %>
      </ul>
    </nav>

    <div class="bucket">
      <hgroup>
        <h1>I'm <a href="/about">Jimmy Cuadra</a>.</h1>
        <h2>I <%= link_to "write", root_path %> about web development and programming.</h2>
        <h3>I <%= link_to "build websites", projects_path %>, work on <a href="https://github.com/jimmycuadra">open source projects</a>, and <a href="http://twitter.com/jimmycuadra">tweet</a>.</h3>
      </hgroup>
    </div>
  </header>

  <section id="content">
    <div class="bucket">
      <aside id="lifestream-container" class="hidden">
        <h2>The latest activity on GitHub and Twitter</h2>
        <div id="lifestream"></div>
      </aside>

      <%= render :partial => "partials/admin_actions" if admin? %>

      <% if flash[:notice] %>
        <section id="flash"><%= flash[:notice] %></section>
      <% end %>

      <%= yield %>
    </div>
  </section>

  <footer id="site-footer">
    <div class="bucket">
      <p><%= if admin?; link_to "Log out", logout_path; else; link_to "Log in", new_login_path; end %></p>
      <p>Built on a <a href="http://www.apple.com/">Mac</a> using <a href="http://rubyonrails.org/">Ruby on Rails</a>. If you're not using <a href="http://www.webkit.org/">Webkit</a>, get on that.</p>
      <small>&copy; <%= Date.today.year.to_s %> Jimmy Cuadra. All rights reserved.</small>
    </div>
  </footer>
  <%= javascript_include_tag "jquery.min" unless Rails.env.production? %>
  <%= javascript_include_tag "application" %>
</body>
</html>
