<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title} | " if @page_title.present? %>Jimmy Cuadra</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/jimmycuadra" />
  <% render :partial => "partials/production_scripts" if Rails.env.production? %>
</head>
<body>
  <%= render :partial => "partials/site_header" %>

  <div class="content">
    <div class="bucket">
      <% if flash[:notice] %>
        <section class="notice" id="flash"><%= flash[:notice] %></section>
      <% end %>

      <%= render :partial => "partials/admin_actions" if admin? %>

      <%= yield %>
    </div>
  </div>

  <%= render :partial => "partials/site_footer" %>

  <%= javascript_include_tag "jquery.min" unless Rails.env.production? %>
  <%= javascript_include_tag "application" %>
</body>
</html>
